<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kuruk.donor.latlong"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".AutolatlongActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <action android:name="kuruk.donor.latlong.WAKE_UP"/>
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name=".SmsIntentReceiver"
			android:enabled="true">
			<intent-filter>
				<action
					android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
	</receiver>
    </application>

</manifest>